<h1>Listing parts_by_cars</h1>

<table>
  <tr>
    <th>Car</th>
    <th>Car part</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parts_by_cars.each do |parts_by_car| %>
  <tr>
    <td><%= parts_by_car.car_id %></td>
    <td><%= parts_by_car.car_part_id %></td>
    <td><%= link_to 'Show', parts_by_car %></td>
    <td><%= link_to 'Edit', edit_parts_by_car_path(parts_by_car) %></td>
    <td><%= link_to 'Destroy', parts_by_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parts by car', new_parts_by_car_path %>
