<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @part_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @part_type.description %>
</p>


<%= link_to 'Edit', edit_part_type_path(@part_type) %> |
<%= link_to 'Back', part_types_path %>
